.conclusion {
    width: 80%;
    padding: 50px;
    background: #b4e197; /* Color similar a otras secciones */
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    text-align: center;
    margin: 50px auto; /* Aumentamos el margen superior */
}

.conclusion h2 {
    color: #333;
    font-size: 1.8rem;
}

.conclusion p {
    font-size: 18px;
    line-height: 1.5;
    color: #555;
}
